
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url("https://media.istockphoto.com/id/488253130/vector/business-seamless-pattern-vector-background.jpg?s=1024x1024&w=is&k=20&c=fdKbA5ZUlWOWdugk4K4QDosWJFmD5V_MMwy4mI0VHgw=");

}
.navbar {
    background-color: midnightblue !important;
    font-weight: bold;
}
.navbar a {
    color: white !important;
}

.navbar-brand {
    padding-left: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


footer img {
    width: 32px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    margin-left: auto 0;
    margin-right: auto 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: midnightblue;
}

li {
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li a {
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: indianred;
}
input, select {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
p {
    font-size: 18px;
    color: #444;
    margin: 10px 0;
}

#resultado {
    font-weight: bold;
    color: #008000;
}
